body {
	background: antiquewhite;
	color: grey;
}

.login-bubble {
	position: relative;
	text-align: center;
	background: aliceblue;
	margin: 75px auto;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	box-shadow: 10px 10px 10px #888888;
}

.login-bubble form {
	position: absolute;
	left: 10%;
	top: 14%;
	width: 80%;
	height: 80%;
}

.signup-bubble {
	position: relative;
	text-align: center;
	background: aliceblue;
	margin: 75px auto;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	box-shadow: 10px 10px 10px #888888;
}

.signup-bubble form {
	position: absolute;
	left: 10%;
	top: 14%;
	width: 80%;
	height: 80%;
}

.edit-profile-bubble {
	position: relative;
	text-align: center;
	background: aliceblue;
	margin: 75px auto;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	box-shadow: 10px 10px 10px #888888;
}

.edit-profile-bubble form {
	position: absolute;
	left: 10%;
	top: 14%;
	width: 80%;
	height: 80%;
}

.bio-display {
	width: 50%;
	height: auto;
	border: 2px solid ivory;
	background: honeydew;
	color: olive;
	margin: 20px auto;

}

.profile-bubble {
	position: relative;
	text-align: center;
	background: aliceblue;
	margin: 75px auto;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	box-shadow: 10px 10px 10px #888888;
	padding-top: 10%;
}

.profile-image {
	position: relative;
	left: 40%;
	width: 150px;
	height: 150px;
	background: ivory;
	border: 1px solid khaki;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #aaaaaa;
}

.profile-image img {
	position: absolute;
	height: 90%;
	width: 90%;
	left: 5%;
	top: 5%;
	border-radius: 5px;
}

.profile-name {
	text-align: center;
	margin-top: 3%;
	font-weight: bold;
	font-size: 1.5em;
}

.trumpet {
	width: 60px;
	height: 60px;
	margin-top: 40px;
	margin-left: 100px;
}

.post-box {
	width: 80%;
	height: 100px;
	position: relative;
	margin: 10px auto;
	border: 2px solid black;

}

.post-title {
	position: absolute;
	top: 1%;
	left: 20%;
	font-weight: bold;
}

.post-author {
	position: absolute;
	right: 1%;
	bottom: 2%;
}

.post-time {
	position: absolute;
	right: 1%;
	top: 2%;
}

.post-content {
	position: absolute;
	left: 10%;
	top: 40%;
}

.edit-post {
	position: absolute;
	font-size: 0.6em;
	left: 2%;
	bottom: 5%;
}
.delete-post {
	position: absolute;
	font-size: 0.6em;
	left: 5%;
	bottom: 5%;
}

.new-post-box {
	position: fixed;
	bottom: 1%;
	left: 32.5%;
	width: 60%;
	height: 120px;
	background: rgba(0, 0, 0, .5);
	border-radius: 5px;
	display: none;
}

.new-post-box textarea {
	position: absolute;
	top: 38%;
	left: 5%;
	width: 80%;
	height: 50px;
	overflow: scroll;
	border-radius: 5px;
}

.new-post-box button {
	position: absolute;
	left: 87%;
	top: 50%;
	border-radius: 50%;
	box-sizing: border-box;
}

.new-post-box .new-post-title {
	position: absolute;
	top: 5%;
	left: 20%;
	width: 50%;
	height: 30px;
	border-radius: 5px;
}

.edit-post-box {
	position: fixed;
	bottom: 1%;
	left: 32.5%;
	width: 60%;
	height: 120px;
	background: rgba(0, 0, 0, .5);
	border-radius: 5px;
	/*display: none;*/
}

.edit-post-box textarea {
	position: absolute;
	top: 38%;
	left: 5%;
	width: 80%;
	height: 50px;
	overflow: scroll;
	border-radius: 5px;
}

.confirm-edit {
	position: absolute;
	left: 87%;
	top: 50%;
	border-radius: 50%;
	font-size: auto;
	border-radius: 50%;
	width: 50px!;
	height: 50px!;

}

.nvm-edit {
	position: absolute;
	left: 87%;
	top: 50%;
	font-size: auto;
	border-radius: 50%;
	width: 50px!;
	height: 50px!;
}

.edit-post-box .edit-post-title {
	position: absolute;
	top: 5%;
	left: 20%;
	width: 50%;
	height: 30px;
	border-radius: 5px;
}

#edit-nevermind {
	position: absolute;
	left: 87%;
	top: 10%;
	border-radius: 50%;

}

.post-display-buttons {
	color: ghostwhite;
}